* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header{
  width: 100%;
  height: 65px;
  /* background-color: blueviolet; */
  margin: 0 auto;
  
}

/* .header-left{
  float: left;
} */
.header-left p {
  float: left;
  font-size: 38px;
  line-height: 38px;
  margin: 16px 0; 
  
}

.img-icon {
  width:50px;
  border-radius: 50%;
  float: left;
  padding: 10px 20px;
}

.header-right {
  float: right;
}
.header-right li {
  float: left;
  padding: 10px 40px;
  font-size: 24px;
}

.top {
  background-color: burlywood;
  width: 100%;
  height: 480px;
  margin-top:  50px;
}

.top-text {
  padding: 100px 0 100px 0;
  text-align: center;
}

.top-text h1 {
  font-size: 80px;
  margin: 0;
}

.top-text p {
  font-size: 60px;
  margin: 0;
}

.contents {
  width: 100%;
  height:1200px;
  background-color: cornsilk;
  margin: 30px 0 30px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.container h2 {
  font-weight: normal;
  border-left: 2px double black;
  padding-left: 10px;
  font-size: 48px;
  width: 50%;
  margin: 20px auto;
}

.about {
  width: 70%;
  margin: 0 auto;
}

.about-contents {
  display:flex;
}

.about-icon {
  width:100px;
  border-radius: 50%;
  padding: 10px 20px;
}

.works-contents {
  display: flex;
}

.works img {
  width: 180px;
}

.blog-img {
  width: 100px;
}

.footer-left li {
  float: left;
  padding: 10px 40px;
  font-size: 24px;
}
