* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header{
  width: 100%;
  height: 65px;
  /* background-color: blueviolet; */
  margin: 0 auto;
  
}

/* .header-left{
  float: left;
} */
.header-left p {
  float: left;
  font-size: 38px;
  line-height: 38px;
  margin: 16px 0; 
  
}

.img-icon {
  width:50px;
  border-radius: 50%;
  float: left;
  padding: 10px 20px;
}

.header-right {
  float: right;
}
.header-right li {
  float: left;
  padding: 10px 40px;
  font-size: 24px;
}

.top {
  background-color: rgb(140, 214, 236);
  width: 100%;
  height: 480px;
  margin-top:  65px;
}

.top-text {
  padding: 100px 0 100px 0;
  text-align: center;
}

.top-text h1 {
  font-size: 80px;
  margin: 0;
}

.top-text p {
  font-size: 60px;
  margin: 0;
}

.contents {
  width: 100%;
  height:1400px;
  background-color: cornsilk;
  padding: 50px 0 80px 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.container h2 {
  font-weight: normal;
  border-left: 2px double black;
  padding-left: 10px;
  font-size: 48px;
  width: 50%;
  margin: 20px auto;
}

.about {
  width: 70%;
  margin: 0 auto;
}

.about-contents {
  display:flex;
}

.about-icon {
  width:100px;
  border-radius: 50%;
  padding: 10px 20px;
}

.about p {
  padding: 15px;
}

.works {
  width: 50%;
  margin: 0 auto;
}

.works-contents {
  display: flex;
}

.works img {
  width: 180px;
}

.works p {
  text-align: center;
  font-size: 18px;
}

.content{
  padding: 10px 30px;
}

.blog {
  width: 50%;
  margin: 0 auto;
}

.blog-contents {
  display: flex;
}

.blog-img {
  width: 240px;
}

.contact {
  width: 50%;
  margin: 0 auto;
}

.contact p {
  border-top: 1px solid black;
  padding-top: 15px;
}

textarea {
  padding:10px 20px;
  margin-bottom: 20px;
}


.footer-left li {
  float: left;
  padding: 10px 40px;
  font-size: 24px;
}

.fa {
  margin-right: 10px;
}

.blog-page {
  /* background-color: rgb(173, 197, 240); */
  border: 2px double rgb(173, 197, 240);
  width: 100%;
  height: 480px;
  padding: 30px 0 30px 0;
  margin-top: 30px;
}

.works-page {
  border: 2px double rgb(204, 173, 240);
  width: 100%;
  height: 1080px;
  padding: 30px 0 30px 0;
  margin-top: 30px;
  text-align: left;
}

/* .works h3 {
  text-align: left;
} */

.knitting-contents {
  display: flex;
}

.knitting-content {
  width: 30%;
  margin-right: 50px;
  margin-bottom: 30px;
}

.site {
  margin-bottom: 80px;
}

.site-content {
  width: 30%;
  margin-right: 50px;

}

.site-content img {
  width: 240px;
}

.painting {
  margin-bottom: 80px;
}
